


/******************************************
Barra de navegação vertical

ul {
	
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {

	padding: 5px 20px;
	background: url(imagens/seta.png) no-repeat left center;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul a {
	border: 1px solid red;
	width: 200px;
	height: 40px;
	display: block;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	background:#f7b600 url(imagens/men.png)  no-repeat left  bottom;
}

a:hover, .selecionado a {
	background-position: right bottom;
    background-color: #f99200;
	color: #fff;
}


#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a{
	background-position: right bottom;
    background-color: #f99200;
	color: #fff;
}

O seletor acima, seleciona o ID hOME a class Home e o link consequentemente */

/* Barra de navegação horizontal */
/*
ul {
	
	margin: 0;
	padding: 0;
	list-style: none;
	width: 720px;
	background: #159cb0 url(imagens/fundo-horizontal.png) repeat-x;
	float: left;
}

ul li {
	
	display: inline; MANEIRA SIMPLES DE ATINGIR A NAVEGAÇÃO HORIZONTAL 
	float: left;
	
}

ul a {
	display: block;
	padding: 0  2em;  DISTÂNCIAMENTO ENTRE OS LINKS DO MENU, SOBRE E SERVIÇOS 
	line-height: 2.2em;
	text-decoration: none;
	color: white;
	 border-left: 1px solid gray; 
	background: url(imagens/divisor.png) repeat-y left top;
}

ul .primeiro a {
	background: none;
}

ul a:hover {
	color: #085662;
	background: #44cade;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a {
	color: #085662;
	background: #44cade;
}

*/